services:
  mssql:
    image: mcr.microsoft.com/azure-sql-edge:latest
    container_name: appeals-migration-mssql
    platform: ${PLATFORM:-linux/amd64} # force platform, so ARM machines to use emulation
    cap_add: ['SYS_PTRACE']
    user: root
    init: true
    environment:
      - 'ACCEPT_EULA=1'
      - 'MSSQL_SA_PASSWORD=DockerDatabaseP@22word!'
    ports:
      - '1463:1433'
    hostname: mssql
    volumes:
      - ./packages/database/src/configuration/mssql.conf:/var/opt/mssql/mssql.conf
      - ./tmp/mssql-data:/var/opt/mssql/data
  manage-appeals-mssql:
    image: mcr.microsoft.com/azure-sql-edge:latest
    container_name: appeals-migration-manage-appeals-mssql
    platform: ${PLATFORM:-linux/amd64} # force platform, so ARM machines to use emulation
    cap_add: ['SYS_PTRACE']
    user: root
    init: true
    environment:
      - 'ACCEPT_EULA=1'
      - 'MSSQL_SA_PASSWORD=ManageAppealsP@22word!'
    ports:
      - '1473:1433'
    hostname: mssql
    volumes:
      - ./packages/database-sink/src/configuration/mssql.conf:/var/opt/mssql/mssql.conf
      - ./tmp/manage-appeals-mssql-data:/var/opt/mssql/data
  odw-curated-mssql:
    image: mcr.microsoft.com/azure-sql-edge:latest
    container_name: appeals-migration-odw-curated-mssql
    platform: ${PLATFORM:-linux/amd64} # force platform, so ARM machines to use emulation
    cap_add: ['SYS_PTRACE']
    user: root
    init: true
    environment:
      - 'ACCEPT_EULA=1'
      - 'MSSQL_SA_PASSWORD=OdwCuratedP@22word!'
    ports:
      - '1483:1433'
    hostname: mssql
    volumes:
      - ./packages/database-source/src/configuration/mssql.conf:/var/opt/mssql/mssql.conf
      - ./tmp/odw-curated-mssql-data:/var/opt/mssql/data
